#주석가능하긴한데 예약어로 쓰인 것들은 적으면 안됩니다. 예약어 기준으로 파싱합니다.
#얌체같이 파싱했습니다.
#로케이션 중에 루트 로케이션 ( / ) 는 사용하지 않더라도반드시 필요합니다. 제발 써주세요.

server
{
	server_name default_server
	listen 8080 127.0.0.1			# 7번라인 8번라인 반드시 연달아와야합니다.

	location /					# / 로케이션은 반드시 존재해야합니다. (디폴트서버)
	{
		allow_methods GET PUT HEAD OPTIONS
		root ./tests/test1_tester/test1_tester_root/YoupiBanane/
		index youpi.bad_extension
	}

	location /directory/
	{
		allow_methods GET
		root ./tests/test1_tester/test1_tester_root/YoupiBanane/
		index youpi.bad_extension
	}

	location /put_test/
	{
		allow_methods GET PUT DELETE OPTIONS
		root ./tests/test1_tester/test1_tester_root/put_test/
		auto_index on
		index.html
	}

}
